x-mediaviewer: &default-mediaviewer
  image: kyokley/mediaviewer
  environment:
    - MV_NAME
    - MV_HOST
    - MV_USER
    - DJANGO_SETTINGS_MODULE
    - MV_WAITER_PASSWORD_HASH
    - MV_SKIP_LOADING_TVDB_CONFIG
    - MV_STATIC_DIR
    - MV_NPM_STATIC_DIR
    - MV_DEBUG
    - MV_ALLOWED_HOSTS
    - MV_WAITER_DOMAIN
  depends_on:
    - "postgres"
  tty: true
  stdin_open: true
  networks:
    - mediaviewer-backend
  volumes:
    - .:/code
    - ./.mv.history:/home/user/.bash_history
services:
  postgres:
    hostname: postgres
    image: postgres:17-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"
    volumes:
      - mediaviewer-data:/var/lib/postgresql/data
    networks:
      - mediaviewer-backend
  mediaviewer-migrate:
    !!merge <<: *default-mediaviewer
    depends_on:
      - "postgres"
    command: /bin/manage migrate
  mediaviewer:
    !!merge <<: *default-mediaviewer
    depends_on:
      - "postgres"
      - "mediaviewer-migrate"
    hostname: mediaviewer
    ports:
      - "127.0.0.1:8000:8000"
  mediaviewer-frontend:
    !!merge <<: *default-mediaviewer
    working_dir: /code/frontend
    command: /bin/vite-node-run-dev
    ports:
      - "127.0.0.1:3000:3000"
# Persistent Volumes
volumes:
  mediaviewer-data:
networks:
  mediaviewer-backend:
