x-mediaviewer: &default-mediaviewer
  image: kyokley/mediaviewer
  environment:
    - DJANGO_SETTINGS_MODULE=config.settings
    - WAITER_PASSWORD_HASH=${WAITER_PASSWORD_HASH}
    - SKIP_LOADING_TVDB_CONFIG=1
  depends_on:
    - "postgres"
  tty: true
  stdin_open: true
  networks:
    - mediaviewer-backend
  volumes:
    - .:/code
    - ./.mv.history:/home/user/.bash_history
services:
  postgres:
    hostname: postgres
    image: postgres:17-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"
    volumes:
      - mediaviewer-data:/var/lib/postgresql/data
    networks:
      - mediaviewer-backend
  mediaviewer-migrate:
    !!merge <<: *default-mediaviewer
    depends_on:
      - "postgres"
    command: /bin/manage migrate
  mediaviewer:
    !!merge <<: *default-mediaviewer
    depends_on:
      - "postgres"
      - "mediaviewer-migrate"
    hostname: mediaviewer
    ports:
      - "8000:8000"
# Persistent Volumes
volumes:
  mediaviewer-data:
networks:
  mediaviewer-backend:
