{% extends "home.html" %}
<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
{% include title %}

{% include css %}

{% include navbar %}

<div class="container">
    <div class="jumbotron">
        {% block jumbotron %}
        <h1>Change Password</h1>
        {% endblock %}
    </div>

    {% include messages %}

    {% block main %}
        <form action="{% url 'mediaviewer:change_password_submit' %}" method="post">
            {% csrf_token %}
            <div class='row'>
                <div class='col-xs-4'></div>
                <div class='col-xs-4'>
                    <h2 class="form-signin-heading">Enter new password below:</h2>
                    <input type="password" id="old-password-textbox" class="form-control" placeholder="Current Password" required autofocus>
                    <input type="password" id="new-password-textbox" class="form-control" placeholder="New Password" required>
                    <input type="password" id="confirm-password-textbox" class="form-control" placeholder="Confirm New Password" required>
                    <button class="btn btn-lg btn-primary btn-block login-submit-btn" type="submit">Submit</button>
                </div>
                <div class='col-xs-4'></div>
            </div>
        </form>
    {% endblock %}
</div> <!-- /container -->

{% include footer %}

{% include javascript %}
