{% extends "home.html" %}
<!DOCTYPE html>
{% load staticfiles %}
{% include title %}

{% include css %}

{% include navbar %}

<div class="container">
    <div class="jumbotron">
        {% block jumbotron %}
        <h1>Change Password</h1>
        {% endblock %}
    </div>

    {% include messages %}

    {% block main %}

        {% if force_change %}
        <div class="modal" id="forceChangeModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="forceChangeModalLabel">Update Password</h4>
              </div>
              <div class="modal-body">
                  You have been requested to change your password. Please change it before continuing on.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

            {% if err %}
            <div class='row'>
                <div class='col-xs-12'>
                    <div class="alert alert-danger" role="alert">{{ err }}</div>
                </div>
            </div>
            {% endif %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        <form id="password-form" action="{% url 'mediaviewer:change_password' %}" method="post" class="form-signin">
            {% csrf_token %}
            <div class='row'>
                <h2>Enter new password below:</h2>
            </div>
            <div class='row'>
                <input type="password" id="old-password-textbox" name="old_password" class="form-control" placeholder="Current Password" required autofocus>
                <input type="password" id="new-password-textbox" name="new_password1" class="form-control" placeholder="New Password" required>
                <input type="password" id="confirm-password-textbox" name="new_password2" class="form-control" placeholder="Confirm New Password" required>
                <button class="btn btn-lg btn-primary btn-block login-submit-btn" type="submit">Submit</button>
            </div>
        </form>
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8 password-description-text">
                Valid passwords must be at least 6 characters long and contain at least one numeric character and one alphabetic character.
            </div>
        </div>
    {% endblock %}
</div> <!-- /container -->

{% include footer %}

{% include javascript_include %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            csrf_token = '{{ csrf_token }}';
            preparePage($);
            {% if force_change %}
            jQuery('#forceChangeModal').modal('show');
            {% endif %}
            $('#password-form').submit(function(){
                var password_string = document.getElementById('new-password-textbox').value;
                var is_valid = validatePassword(password_string);
                if(is_valid){
                    return true;
                }else{
                    alert("Provided password is invalid.\n\n Valid passwords must be at least 6 characters long and contain at least one numeric character and one alphabetic character. Please try again.");
                    return false;
                }
            });
        });
    </script>
{% endblock %}
