{% extends "files.html" %}
<!DOCTYPE html>
{% load staticfiles %}
{% include title %}
{% include css %}

{% include navbar %}
{% block jumbotron %}
<div class="jumbotron">
    <ol class="breadcrumb">
        <li><a href="/mediaviewer/">Home</a></li>
        <li class="active">Errors</li>
    </ol>
    <h1>Errors</h1>
    Below are all the errors that have occurred using the auto downloader.
</div>
{% endblock %}

{% include messages %}

{% block main %}
{% if errors %}
<table id="myTable" class="tablesorter">
    <thead>
        <tr>
            <th data-placeholder='Enter ID'>ID</th>
            <th data-placeholder='Enter error message'>Error Message</th>
            <th data-placeholder='Enter file'>File</th>
            <th data-placeholder='Enter path'>Path</th>
            <th data-placeholder='Enter True or False'>Ignore?</th>
            <th data-placeholder='Enter Date'>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for error in errors %}
        <tr>
            <td>{{ error.id }}</td>
            <td>{{ error.errorStr }}</td>
            <td>{{ error.file.filename }}</td>
            <td>{{ error.path.localpathstr }}</td>
            <td>{{ error.ignore }}</td>
            <td>{{ error.datecreated.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <!-- pager -->
        <div class="pager">
            Items per page:
            <select class="pagesize" title="Select page size">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option selected="selected" value="100">100</option>
            </select>
            Page:
            <select class="gotoPage" title="Select page number"></select>
            <p></p>
            <img src="{% static "assets/first.png" %}" /class="first"/>
            <img src="{% static "assets/prev.png" %}" /class="prev"/>
            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
            <img src="{% static "assets/next.png" %}" /class="next"/>
            <img src="{% static "assets/last.png" %}" /class="last"/>
        </div>
    </tfoot>
</table>
{% else %}
<p>No files are available.</p>
{% endif %}
{% endblock %}

{% include footer %}

{% include javascript_include %}

{% include javascript %}
