{% extends "home.html" %}
<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}

{% include title %}

{% include css %}

{% include navbar %}

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    {% block jumbotron %}
    {% if view == 'files' %}
        <ol class="breadcrumb">
              <li><a href="/mediaviewer/">Home</a></li>
                <li class="active">Files</li>
        </ol>
        <h1>Files</h1>
        Below is a list of all files being tracked by the autodownloader.
    {% elif view == 'movies' %}
        <ol class="breadcrumb">
              <li><a href="/mediaviewer/">Home</a></li>
                <li class="active">Movies</li>
        </ol>
        <h1>Movies</h1>
        <h3>Select from the following movies:</h3>
    {% elif view == 'tvshows' %}
        <ol class="breadcrumb">
              <li><a href="/mediaviewer/">Home</a></li>
                <li><a href="/mediaviewer/tvshows/summary/">TV Shows</a></li>
                <li class="active">{{ path.displayName }}</li>
        </ol>
        <table>
            <tr>
                <td {% if path.posterfile.image %} style="width:50%" {% endif %}>
                    <h1>{{ path.displayName }}</h1>
                </td>
                <td rowspan="2" style="text-align: right">
                    {% if path.posterfile.image %}
                        <img src="{{ MEDIA_URL }}{{ path.posterfile.image }}" /class="poster"/>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <h4>{{ path.posterfile.plot }}</h4>
                </td>
            </tr>
        </table>
    {% endif %}
    {% endblock %}
</div>

{% include messages %}

{% block main %}
{% if files %}
    <table id="myTable" class="table table-striped table-hover cell-border no-wrap dt-responsive"> 
        <thead> 
            <tr> 
                <th class="all">File Name</th> 
                <th class="desktop">Timestamp</th> 
                {% if can_download %}
                    <th class="min-tablet-p">Link</th> 
                {% endif %}
                <th class="all">Viewed</th>
                <th class='desktop'>Report Bad File</th>
                <th></th>
            </tr> 
        </thead> 
        <tbody> 
            {% for file in files %}
            <tr> 
                {% if view == 'movies' %}
                    <td><a href="/mediaviewer/files/{{ file.id }}/">{{ file.rawSearchString }}</a></td> 
                {% else %}
                    <td><a href="/mediaviewer/files/{{ file.id }}/">{{ file.getScrapedFullName }}</a></td> 
                {% endif %}
                <td>{{ file.datecreated.date }}</td> 
                {% if waiterstatus %}
                    {% if can_download %}
                        {% if file.finished %}
                        <td><center><a class='btn btn-info' name='download-btn' id={{ file.id }} target=_blank onclick="openDownloadWindow('{{file.id}}', '{{csrf_token}}')">Download</a></center></td>
                        {% else %}
                            <td>No file</td> 
                        {% endif %}
                    {% endif %}
                {% else %}
                    <td>Alfred is down</td>
                {% endif %}
                <td>
                {% if file.usercomment %}
                    {% if file.usercomment.viewed %}
                    <span class="hidden" name="hidden-{{ file.id }}">true</span><input name="{{ file.id }}" type="checkbox" checked onclick="ajaxCheckBox('{{csrf_token}}', '{{file.id}}')" />
                    {% else %}
                        <span class="hidden" name="hidden-{{ file.id }}">false</span><input name="{{ file.id }}" type="checkbox" onclick="ajaxCheckBox('{{csrf_token}}', '{{file.id}}')" />
                    {% endif %}
                {% else %}
                    <span class="hidden" name="hidden-{{ file.id }}">false</span><input name="{{ file.id }}" type="checkbox" onclick="ajaxCheckBox('{{csrf_token}}', '{{file.id}}')" />
                {% endif %}
                <span id="saved-{{ file.id }}"></span>
                </td>
                <td><input class='report' name='report-{{ file.id }}' value='Report' type='button' onclick="reportButtonClick('{{file.id}}', '{{csrf_token}}')"/></td> 
                <td></td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
{% else %}
<p>No files are available.</p>
{% endif %}
{% endblock %}

{% include footer %}

{% block javascript %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "assets/jquery-1.10.1.min.js" %}"></script>
<script src="{% static "DataTables-1.10.4/media/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/dataTables.bootstrap.js" %}"></script>
<script src="{% static "assets/dataTables.responsive.min.js" %}"></script>
<script src="{% static "bootstrap-dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/mediaviewer.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){ 
      preparePage($, '{{csrf_token}}');
        {% if view == 'movies' %}
            var sortOrder = [[1,1]];
        {% elif view == 'tvshows' or view == 'files' %}
            {% if default_sort == 'filename_sort' %}
                var sortOrder =  [[0,1]];
            {% else %}
                var sortOrder =  [[1,1]];
            {% endif %}
        {% elif view == 'datausage' or view == 'errors' %}
            var sortOrder =  [[0,1]];
        {% elif view == 'paths' %}
            var sortOrder =  [[1,0]];
        {% else %}
            var sortOrder = [[0,1]];
        {% endif %}
        prepareTableSorter($, sortOrder);

        prepareViewedCheckBoxes($, '{{ csrf_token }}');

        prepareAjaxWaiterStatus($, '{{ csrf_token }}', '{{ is_staff }}');
});

</script>
{% endblock %}
