{% extends "home.html" %}
<!DOCTYPE html>
{% load static %}

{% include title %}

{% include css %}

{% include navbar %}

<!-- Main component for a primary marketing message or call to action -->
{% block jumbotron %}
        <nav aria-label="breadcrumb">
        {% if view == 'files' %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/mediaviewer/">Home</a></li>
                <li class="breadcrumb-item active">Files</li>
            </ol>
            <h1>Files</h1>
            Below is a list of all files being tracked by the autodownloader.
        {% elif view == 'movies' %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/mediaviewer/">Home</a></li>
                <li class="breadcrumb-item active">Movies</li>
            </ol>
            <h1>{{ title }}</h1>
            <h3>Select from the following movies:</h3>
        {% elif view == 'tvshows' %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/mediaviewer/">Home</a></li>
                <li class="breadcrumb-item"><a href="/mediaviewer/tvshows/summary/">TV Shows</a></li>
                <li class="breadcrumb-item active">{{ path.displayName }}</li>
            </ol>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <h1 class="text-center" id="file-displayName">{{ path.displayName }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        {% if path.posterfile.image %}
                            <img src="{{ MEDIA_URL }}{{ path.posterfile.image }}" class="img-fluid center-block"/>
                        {% else %}
                            No Image
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h4>
                            <dl class="dl-horizontal">
                                {% if path.posterfile.display_genres %}
                                    <dt>Genre:</dt>
                                    <dd>{{ path.posterfile.display_genres }}</dd>
                                {% endif %}
                                <dt>Summary:</dt>
                                <dd><div class="truncated-text">{{ path.posterfile.plot }}</div></dd>
                                {% if path.posterfile.rated %}
                                    <dt>Rated:</dt>
                                    <dd>{{ path.posterfile.rated }}</dd>
                                {% endif %}
                                {% if path.posterfile.rating and path.posterfile.rating != 'N/A' %}
                                    <dt>Rating:</dt>
                                    <dd>{{ path.posterfile.rating }}/10</dd>
                                {% endif %}
                            </dl>
                        </h4>
                    </div>
                </div>
            </div>
        {% endif %}
        </nav>
    </div>
{% endblock %}

{% include messages %}

{% block main %}
    <table id="myTable" class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th class="all">File Name</th>
                <th class="desktop">Timestamp</th>
                {% if can_download %}
                    <th class="min-tablet-p nosort">Link</th>
                {% endif %}
                <th class="all nosort">Viewed</th>
                <th class="min-tablet-l nosort">Report Bad File</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for file in files %}
                <tr>
                    <td>
                            {% if file.posterfile %}
                                <a class="img-preview" href="/mediaviewer/files/{{ file.id }}/" data-bs-toggle="popover" data-bs-trigger="hover focus" data-container="body" data-bs-content="<img class='tooltip-img' src='{{MEDIA_URL}}{{file.posterfile}}' />">
                            {% else %}
                                <a href="/mediaviewer/files/{{ file.id }}/">
                            {% endif %}
                    {{ file.name }}</a></td>
                    <td><span class="hidden_span">{{file.dateCreatedForSpan}}</span>{{ file.date }}</td>
                    {% if can_download %}
                        {% if waiterstatus %}
                            <td><center><a class='btn btn-info' name='download-btn' id={{ file.id }} target=_blank rel="noopener noreferrer" onclick="openDownloadWindow('{{file.id}}')">Open</a></center></td>
                        {% else %}
                            <td>Alfred is down</td>
                        {% endif %}
                    {% endif %}
                    <td>
                        {% if file.viewed %}
                            <span class="hidden" name="hidden-{{ file.id }}"></span><input name="{{ file.id }}" type="checkbox" checked onclick="ajaxCheckBox('{{file.id}}')" />
                        {% else %}
                            <span class="hidden" name="hidden-{{ file.id }}"></span><input name="{{ file.id }}" type="checkbox" onclick="ajaxCheckBox('{{file.id}}')" />
                        {% endif %}
                        <span id="saved-{{ file.id }}"></span>
                    </td>
                    <td><input class='report' name='report-{{ file.id }}' value='Report' type='button' onclick="reportButtonClick('{{file.id}}')"/></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% include footer %}

{% include javascript_include %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            csrf_token = '{{ csrf_token }}';
            preparePage($);
            {% if view == 'movies' %}
                var sortOrder = [[1,'desc']];
            {% elif view == 'tvshows' or view == 'files' %}
                {% if default_sort == 'filename_sort' %}
                    var sortOrder =  [[0,'desc']];
                {% else %}
                    var sortOrder =  [[1,'desc']];
                {% endif %}
            {% elif view == 'paths' %}
                var sortOrder =  [[1,'asc']];
            {% else %}
                var sortOrder = [[0,'desc']];
            {% endif %}
            prepareDataTable($, sortOrder, '{{ table_data_page }}', '{{ table_data_filter_id }}');

            {% if jump_to_last and view == 'tvshows' %}
                jumpToLastViewedPage($);
            {% endif %}

            prepareAjaxWaiterStatus($, '{{ is_staff }}');
            scrollSetup();

            $(".truncated-text").shorten({"showChars": 1000});
        });

    </script>
{% endblock %}
