{% extends "results.html" %}
<!DOCTYPE html>
{% load static %}
{% include title %}

{% include css %}

{% include navbar %}


<div class="container">
    {% block jumbotron %}
        <div class="jumbotron">
            <ol class="breadcrumb">
                {% if file.isMovie %}
                    <li><a href="/mediaviewer/">Home</a></li>
                    <li><a href="/mediaviewer/movies/">Movies</a></li>
                    <li class="active">{{ file.rawSearchString }}</li>
                {% else %}
                    <li><a href="/mediaviewer/">Home</a></li>
                    <li><a href="/mediaviewer/tvshows/summary/">TV Shows</a></li>
                    <li class="active"><a href="/mediaviewer/tvshows/{{ file.path.id }}/">{{ file.path.displayName }}</a></li>
                {% endif %}
                <h1>File Saved!</h1>
                <h3>{{ file.displayName }} has been saved successfully</h3>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-3">
                        <a class="btn btn-info" href="/mediaviewer/files/{{ file.id }}/">Go Back</a>
                    </div>
                    {% if file.finished and can_download and waiterstatus %}
                        <div class="col-xs-3">
                            <a class="btn btn-info" name="download-btn" onclick="openDownloadWindow('{{ file.id }}')">Open</a>
                        </div>
                    {% endif %}
                    <div class="col-xs-3"></div>
                </div>
            </ol>
        </div>
    {% endblock %}
</div>

{% block main %}
{% endblock %}

{% include footer %}
{% include javascript %}
