<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/png" href="{% static "assets/favicon.ico" %}"/>
        {% block title %}
            {% if title == '' or title == None %}
                <title>MediaViewer</title>
            {% else %}
                <title>{{ title }} - MediaViewer</title>
            {% endif %}
        {% endblock %}

        <!-- Bootstrap core CSS -->
        {% block css %}
            <link href="{% static "datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
            <link href="{% static "datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">
            <link href="{% static "@bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}" rel="stylesheet">

            <link href="{% static "@bower_components/bootswatch-dist/css/bootstrap.min.css" %}" rel="stylesheet">
            <link href="{% static "assets/home.css" %}" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            {% block navbar%}
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/mediaviewer/">MediaViewer <span class="glyphicon glyphicon-film"></span></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        {% if loggedin %}
                            <ul class="nav navbar-nav">
                                {% if active_page == 'home' %}
                                    <li class="active"><a href="/mediaviewer/">Home</a></li>
                                {% else %}
                                    <li><a href="/mediaviewer/">Home</a></li>
                                {% endif %}

                                {% if active_page == 'movies' %}
                                    <li class="active dropdown">
                                {% else %}
                                    <li class="dropdown">
                                {% endif %}
                                <a href="/mediaviewer/movies/" role="button" aria-haspopup="true" aria-expanded="false">Movies <span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    {% for genre in movie_genres %}
                                        <li><a href="/mediaviewer/movies/genre/{{genre.id}}/">{{genre.genre}}</a></li>
                                    {% endfor %}
                                </ul>
                                </li>

                                {% if active_page == 'tvshows' %}
                                    <li class="active dropdown">
                                {% else %}
                                    <li class="dropdown">
                                {% endif %}
                                <a href="/mediaviewer/tvshows/summary/" role="button" aria-haspopup="true" aria-expanded="false">TV Shows <span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    {% for genre in tv_genres %}
                                        <li><a href="/mediaviewer/tvshows/genre/{{genre.id}}/">{{genre.genre}}</a></li>
                                    {% endfor %}
                                </ul>
                                </li>

                                {% if active_page == 'requests' %}
                                    <li class="active">
                                {% else %}
                                    <li>
                                {% endif %}
                                <a href="/mediaviewer/requests/">Requests</a></li>

                                {% if active_page == 'settings' %}
                                    <li class="active">
                                {% else %}
                                    <li>
                                {% endif %}
                                <a href="/mediaviewer/settings/"><span class="glyphicon glyphicon-cog"></span></a></li>

                                {% if loggedin %}
                                    <li class="navbar-right"><a href="/mediaviewer/logout/">Log out</a></li>
                                {% else %}
                                    <li class="navbar-right"><a href="/mediaviewer/login/">Log In</a></li>
                                {% endif %}
                            </ul>
                            {% if loggedin %}
                                <p class="navbar-text navbar-right">Signed in as <a href="/mediaviewer/settings/" class="navbar-link">{{ user.username }}</a></p>
                            {% endif %}
                        {% else %}
                            <ul class="nav navbar-nav">
                                <li class="navbar-right"><a href="/mediaviewer/login/">Log In</a></li>
                            </ul>
                        {% endif %}
                    </div><!--/.nav-collapse -->
                </div>
            {% endblock %}
        </div>

        <div class="container">
            {% block jumbotron %}
                <div class="jumbotron">
                    <h1>Welcome to the MediaViewer</h1>
                    <p></p>
                    <p>{{ greeting }}</p>
                    <p></p>
                </div>
            {% endblock %}

            {% block messages %}
                {% for message in messages %}
                    {% if 'last_watched' in message.extra_tags %}
                        {% autoescape off %}
                        <div class="alert alert-{% if 'success' in message.tags %}success{% elif 'info' in message.tags %}info{% elif 'danger' in message.tags %}danger{% elif 'warning' in message.tags %}warning{% elif 'debug' in message.tags %}debug{% endif %} fade in" id="alert-{{ message.extra_tags }}">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {{ message }}
                        </div>
                    {% endautoescape %}
                    {% else %}
                        <div class="alert alert-{% if 'success' in message.tags %}success{% elif 'info' in message.tags %}info{% elif 'danger' in message.tags %}danger{% elif 'warning' in message.tags %}warning{% elif 'debug' in message.tags %}debug{% endif %} fade in" id="alert-{{ message.extra_tags }}">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {{ message }}
                        </div>
                    {% endif %}
            {% endfor %}
        {% endblock %}

        {% block main %}
            {% if loggedin %}
                <table id="newFileTable" class="table table-plain">
                    <thead>
                        <tr>
                            <th>Latest Files</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr>
                                {% if file.isMovie %}
                                    {% if loggedin %}
                                        <td><a href="/mediaviewer/files/{{ file.id }}/">{{ file.rawSearchString }}</a></td>
                                    {% else %}
                                        <td>{{ file.rawSearchString }}</td>
                                    {% endif %}
                                {% else %}
                                    {% if loggedin %}
                                        <td><a href="/mediaviewer/files/{{ file.id }}/">{{ file.display_name_with_path }}</a></td>
                                    {% else %}
                                        <td>{{ file.display_name_with_path }}</td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% if loggedin and user.is_staff %}
                            <tr>
                                <td>
                                    <a class='btn btn-info' name='scraper-btn' id='scraper-btn'>Run Scraper</a>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

            {% endif %}
        {% endblock %}
    </div> <!-- /container -->

</body>

<footer>
{% block footer %}
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% if waiterstatus %}
                        <p class="navbar-text">Alfred status is <span id="waiter-status" class="label label-success">Connected</span></p>
                    {% else %}
                        <p class="navbar-text">Alfred status is <span id="waiter-status" class="label label-danger">Disconnected</span></p>
                    {% endif %}
                </div>
                <div class="col-md-9">
                    {% if donation_site_name and donation_site_url %}
                        <p class="text-right donation-text">If you can, please consider donating to <a href="{{ donation_site_url }}">{{ donation_site_name }}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</footer>

{% block javascript_include %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
    <script src="{% static "datatables.net-scroller-bs/js/scroller.bootstrap.min.js" %}"></script>
    <script src="{% static "@popperjs/core/dist/umd/popper.min.js" %}"></script>
    <script src="{% static "@bower_components/bootswatch-dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "jquery.shorten/src/jquery.shorten.min.js" %}"></script>
    <script src="https://cdn.passwordless.dev/dist/1.1.0/umd/passwordless.umd.min.js" crossorigin="anonymous"></script>

    <script src="{% static "assets/mediaviewer.js" %}"></script>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            csrf_token = '{{ csrf_token }}';
            preparePage($);
            setHomeFormSubmit($);
            prepareAjaxWaiterStatus($, '{{ is_staff }}');
            prepareScraperButton($);
            scrollSetup();

        });
    </script>
{% endblock %}
</html>
