<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/png" href="{% static "assets/favicon.ico" %}"/>
        {% block title %}
            {% if title == '' or title == None %}
                <title>MediaViewer</title>
            {% else %}
                <title>{{ title }} - MediaViewer</title>
            {% endif %}
        {% endblock %}

        <!-- Bootstrap core CSS -->
        {% block css %}

            <link href="{% static "bootswatch/bootstrap.min.css" %}" rel="stylesheet">
            <link href="{% static "datatables.net-bs5/css/dataTables.bootstrap5.min.css" %}" rel="stylesheet">
            <link href="{% static "datatables.net-scroller-bs5/css/scroller.bootstrap5.min.css" %}" rel="stylesheet">
            <link href="{% static "datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" %}" rel="stylesheet">
            <link href="{% static "bootstrap-icons/font/bootstrap-icons.css" %}" rel="stylesheet">

            <link href="{% static "assets/home.css" %}" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <nav id="top-navbar" class="navbar navbar-expand-md fixed-top navbar-dark bg-dark bg-body-tertiary nav-show" role="navigation" data-bs-theme="dark">
            <div class="container-fluid">
            {% block navbar%}
                <a class="navbar-brand" href="/mediaviewer/">MediaViewer <i class="bi-film"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-content">
                    {% if loggedin %}
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                            {% if active_page == 'home' %}
                                <a class="nav-link active" href="/mediaviewer/">Home</a>
                            {% else %}
                                <a class="nav-link" href="/mediaviewer/">Home</a>
                            {% endif %}
                            </li>

                            <li class="nav-item dropdown">
                            {% if active_page == 'movies' %}
                                <a class="nav-link active dropdown-toggle" href="/mediaviewer/movies/" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movies <span class="caret"></span></a>
                            {% else %}
                                <a class="nav-link dropdown-toggle" href="/mediaviewer/movies/" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movies <span class="caret"></span></a>
                            {% endif %}

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link dropdown-item" href="/mediaviewer/movies/">All</a>
                                    {% for genre in movie_genres %}
                                        <a class="nav-link dropdown-item" href="/mediaviewer/movies/genre/{{genre.id}}/">{{genre.genre}}</a>
                                    {% endfor %}
                            </div>
                            </li>

                            <li class="nav-item dropdown">
                            {% if active_page == 'tvshows' %}
                                <a class="nav-link active dropdown-toggle" href="/mediaviewer/tvshows/summary/" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TV Shows <span class="caret"></span></a>
                            {% else %}
                                <a class="nav-link dropdown-toggle" href="/mediaviewer/tvshows/summary/" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TV Shows <span class="caret"></span></a>
                            {% endif %}

                            <div class="dropdown-menu">
                                <a class="nav-link dropdown-item" href="/mediaviewer/tvshows/summary/">All</a>
                                {% for genre in tv_genres %}
                                    <a class="nav-link dropdown-item" href="/mediaviewer/tvshows/genre/{{genre.id}}/">{{genre.genre}}</a>
                                {% endfor %}
                            </div>
                            </li>

                            <li class="nav-item">
                            {% if active_page == 'requests' %}
                                <a class="nav-link active" href="/mediaviewer/requests/">Requests</a></li>
                            {% else %}
                                <a class="nav-link" href="/mediaviewer/requests/">Requests</a></li>
                            {% endif %}

                            <li class="nav-item">
                            {% if active_page == 'settings' %}
                                <a class="nav-link active" href="/mediaviewer/settings/"><i class="bi-gear"></i></a>
                            {% else %}
                                <a class="nav-link" href="/mediaviewer/settings/"><i class="bi-gear"></i></a>
                            {% endif %}

                            {% if loggedin %}
                                <li class="navbar-right"><a class="nav-link" href="/mediaviewer/logout/">Log out</a></li>
                            {% else %}
                                <li class="navbar-right"><a class="nav-link" href="/mediaviewer/login/">Log In</a></li>
                            {% endif %}
                        </ul>
                        {% if loggedin %}
                            <span class="navbar-text navbar-right">Signed in as <a href="/mediaviewer/settings/">{{ user.username }}</a></span>
                        {% endif %}
                    {% else %}
                        <nav class="nav navbar-nav">
                            <div class="navbar-right"><a class="nav-link" href="/mediaviewer/login/">Log In</a></div>
                        </nav>
                    {% endif %}
                </div><!--/.nav-collapse -->
            {% endblock %}
            </div>
        </nav>

        <div class="container py-2">
            {% block jumbotron %}
                <h1 class="display-5 fw-bold">Welcome to the MediaViewer</h1>
                <p class="col-md-8 fs-4">{{ greeting }}</p>
            {% endblock %}
        </div>

            {% block messages %}
            <div class="container py-2">
                {% for message in messages %}
                    <div class="alert alert-{% if 'success' in message.tags %}success{% elif 'info' in message.tags %}info{% elif 'danger' in message.tags %}danger{% elif 'warning' in message.tags %}warning{% elif 'debug' in message.tags %}debug{% endif %} alert-dismissible fade show" id="alert-{{ message.extra_tags }}" role="alert">
                        {% if 'last_watched' in message.extra_tags %}
                            {{ message | safe }}
                        {% else %}
                            {{ message }}
                        {% endif %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}

        <div class="container py-2">
        {% block main %}
            {% if loggedin %}
                <table id="newFileTable" class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Latest Files</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr>
                                {% if file.isMovie %}
                                    {% if loggedin %}
                                        <td><a href="/mediaviewer/files/{{ file.id }}/">{{ file.rawSearchString }}</a></td>
                                    {% else %}
                                        <td>{{ file.rawSearchString }}</td>
                                    {% endif %}
                                {% else %}
                                    {% if loggedin %}
                                        <td><a href="/mediaviewer/files/{{ file.id }}/">{{ file.display_name_with_path }}</a></td>
                                    {% else %}
                                        <td>{{ file.display_name_with_path }}</td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% if loggedin and user.is_staff %}
                            <tr>
                                <td>
                                    <a class='btn btn-info' name='scraper-btn' id='scraper-btn'>Run Scraper</a>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

            {% endif %}
        {% endblock %}
        </div>
    </div> <!-- /container -->

</body>

<footer>
{% block footer %}
    <nav id="bottom-navbar" class="navbar navbar-expand-md fixed-bottom navbar-dark bg-body-tertiary nav-show" data-bs-theme="dark">
        <div class="container-fluid text-center">
            <div class="row justify-content-between">
                <div class="col-5">
                    {% if waiterstatus %}
                        <span class="navbar-text">Alfred status is <span id="waiter-status" class="badge text-bg-success">Connected</span></span>
                    {% else %}
                        <span class="navbar-text">Alfred status is <span id="waiter-status" class="badge text-bg-danger">Disconnected</span></span>
                    {% endif %}
                </div>
                <div class="col-7">
                    {% if donation_site_name and donation_site_url %}
                        <span class="navbar-text">If you can, please consider donating to <a href="{{ donation_site_url }}">{{ donation_site_name }}</a></span>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
</footer>

{% block javascript_include %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "datatables.net-bs5/js/dataTables.bootstrap5.min.js" %}"></script>
    <script src="{% static "datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js" %}"></script>
    <script src="{% static "datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
    <script src="{% static "datatables.net-scroller-bs5/js/scroller.bootstrap5.min.js" %}"></script>
    <script src="{% static "@popperjs/core/dist/umd/popper.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "jquery.shorten/src/jquery.shorten.min.js" %}"></script>
    <script src="https://cdn.passwordless.dev/dist/1.1.0/umd/passwordless.umd.min.js" crossorigin="anonymous"></script>

    <script src="{% static "assets/mediaviewer.js" %}"></script>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            csrf_token = '{{ csrf_token }}';
            preparePage($);
            setHomeFormSubmit($);
            prepareAjaxWaiterStatus($, '{{ is_staff }}');
            prepareScraperButton($);
            scrollSetup();
        });
    </script>
{% endblock %}
</html>
