<!DOCTYPE html>
{% load static %}
<html lang="en" class="{{ theme }}" data-bs-theme="{{ theme }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/png" href="{% static "assets/favicon.ico" %}"/>
        {% block title %}
            {% if title == '' or title == None %}
                <title>MediaViewer</title>
            {% else %}
                <title>{{ title }} - MediaViewer</title>
            {% endif %}
        {% endblock %}

        {% block css %}
            <link href="{% static "datatables.net-scroller-bs5/css/scroller.bootstrap5.min.css" %}" rel="stylesheet">
            <link href="{% static "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" %}" rel="stylesheet">
            <link href="{% static "bootstrap-icons/font/bootstrap-icons.css" %}" rel="stylesheet">
            <link href="{% static "datatables.net-bs5/css/dataTables.bootstrap5.min.css" %}" rel="stylesheet">
            <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
            <link href="{% static "slick-carousel/slick/slick.css" %}" rel="stylesheet">
            <link href="{% static "slick-carousel/slick/slick-theme.css" %}" rel="stylesheet">
            <link href="{% static "assets/home.css" %}" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <nav id="top-navbar" class="navbar navbar-expand-md fixed-top bg-body-tertiary nav-show" role="navigation">
            <div class="container-fluid">
            {% block navbar%}
                <a class="navbar-brand" href="/mediaviewer/">MediaViewer <i class="bi-film"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-content">
                    {% if loggedin %}
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                            {% if active_page == 'home' %}
                                <a class="btn btn-outline-primary" href="/mediaviewer/">Home</a>
                            {% else %}
                                <a class="nav-link" href="/mediaviewer/">Home</a>
                            {% endif %}
                            </li>

                            <li class="nav-item dropdown">
                                {% if active_page == 'collections' %}
                                <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Collections <span class="caret"></span></a>
                                {% else %}
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Collections <span class="caret"></span></a>
                                {% endif %}

                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <div class="dropdown-menu slide-in" aria-labelledby="navbarDropdown">
                                            {% for collection in collections %}
                                            <a class="nav-link dropdown-item" href="/mediaviewer/collection/{{collection.id}}/">{{collection.name}}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                {% if active_page == 'movies' %}
                                    <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movies <span class="caret"></span></a>
                                {% else %}
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movies <span class="caret"></span></a>
                                {% endif %}

                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <div class="dropdown-menu slide-in" aria-labelledby="navbarDropdown">
                                            <a class="nav-link dropdown-item" href="/mediaviewer/movies/">All</a>
                                            {% for genre in movie_genres %}
                                                <a class="nav-link dropdown-item" href="/mediaviewer/movies/genre/{{genre.id}}/">{{genre.genre}}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                {% if active_page == 'tvshows' %}
                                    <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TV Shows <span class="caret"></span></a>
                                {% else %}
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TV Shows <span class="caret"></span></a>
                                {% endif %}

                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <div class="dropdown-menu slide-in">
                                            <a class="nav-link dropdown-item" href="/mediaviewer/tvshows/summary/">All</a>
                                            {% for genre in tv_genres %}
                                                <a class="nav-link dropdown-item" href="/mediaviewer/tvshows/genre/{{genre.id}}/">{{genre.genre}}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">
                                {% if active_page == 'requests' %}
                                    <a class="btn btn-outline-primary" href="/mediaviewer/requests/">Requests</a>
                                {% else %}
                                    <a class="nav-link" href="/mediaviewer/requests/">Requests</a>
                                {% endif %}
                            </li>

                            <li class="nav-item">
                                {% if active_page == 'settings' or active_page == 'submitsettings' %}
                                    <a class="btn btn-outline-primary" href="/mediaviewer/settings/"><i class="bi-gear"></i></a>
                                {% else %}
                                    <a class="nav-link" href="/mediaviewer/settings/"><i class="bi-gear"></i></a>
                                {% endif %}
                            </li>

                            <li class="navbar-right">
                                {% if loggedin %}
                                    <a class="nav-link" href="/mediaviewer/logout/">Log out</a>
                                {% else %}
                                    <a class="nav-link" href="/mediaviewer/login/">Log In</a>
                                {% endif %}
                            </li>
                        </ul>
                        {% if loggedin %}
                            <span class="navbar-text navbar-right">Signed in as <a class="link-primary" href="/mediaviewer/settings/">{{ user.username }}</a></span>
                        {% endif %}
                    {% else %}
                        <nav class="nav navbar-nav">
                            <div class="navbar-right"><a class="nav-link" href="/mediaviewer/login/">Log In</a></div>
                        </nav>
                    {% endif %}
                </div><!--/.nav-collapse -->
            {% endblock %}
            </div>
        </nav>

        <div class="container py-2">
            {% block jumbotron %}
                <h1 class="display-5 fw-bold">Welcome to the MediaViewer</h1>
                <p class="col-md-8 fs-4">{{ greeting | safe }}</p>
            {% endblock %}
        </div>

        {% block messages %}
            <div class="container py-2">
                {% for message in messages %}
                    <div class="alert alert-{% if 'success' in message.tags %}success{% elif 'info' in message.tags %}info{% elif 'danger' in message.tags %}danger{% elif 'warning' in message.tags %}warning{% elif 'debug' in message.tags %}debug{% endif %} alert-dismissible fade show" id="alert-{{ message.extra_tags }}" role="alert">
                        {% if 'last_watched' in message.extra_tags %}
                            {{ message | safe }}
                        {% else %}
                            {{ message }}
                        {% endif %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}

        <div class="container py-2">
        {% block main %}
            {% if loggedin %}
                <div class="row">
                    <p class="fs-4">Latest media:</p>
                </div>
                {% block carousel %}
                    {% if carousel_files %}
                        <!-- Uncomment below to test carousel -->
                        <!-- <div id="recent-carousel" class="carousel slide" data-bs-ride="true"> -->
                        <div id="recent-carousel" class="carousel slide">
                            {% for file in carousel_files %}
                            <div class="carousel-item">
                                <a class="carousel-link {% if theme == 'dark' %}text-light-emphasis{% endif %}"
                                    {% if file.is_movie %}
                                        href="{% url 'mediaviewer:moviedetail' file.pk %}"
                                    {% elif file.season or file.episode %}
                                        href="{% url 'mediaviewer:tvdetail' file.pk %}"
                                    {% else %}
                                        href="{% url 'mediaviewer:tvshows' file.pk %}"
                                    {% endif %}>
                                    <img src="{{ file.poster.image.url }}" class="carousel-img d-block align-middle {% if file.is_movie or not file.season or not file.episode %}carousel-movie-item{% endif %}" />
                                <div class="carousel-caption d-block {% if theme == 'dark' %}text-light-emphasis{% endif %}">
                                {% if file.is_tv and file.season and file.episode %}
                                    <h5>{{ file.short_name }} S{{ file.season | stringformat:"02d" }}E{{ file.episode | stringformat:"02d" }}:</h5>
                                    <p>{{ file.poster.episodename }}</p>
                                {% endif %}
                                </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}
            {% endif %}
        {% endblock %}
        </div>
    </div>

</body>

<footer>
{% block footer %}
    <nav id="bottom-navbar" class="navbar navbar-text navbar-expand-md fixed-bottom bg-body-tertiary nav-show">
        <div class="container-fluid text-center">
            <div class="row justify-content-between">
                <div class="col-5">
                    {% if waiterstatus %}
                        <span class="navbar-text">Alfred status is <span id="waiter-status" class="badge text-bg-success">Connected</span></span>
                    {% else %}
                        <span class="navbar-text">Alfred status is <span id="waiter-status" class="badge text-bg-danger">Disconnected</span></span>
                    {% endif %}
                </div>
                <div class="col-7">
                    {% if donation_site_name and donation_site_url %}
                        <span class="navbar-text">If you can, please consider donating to <a class="link-primary" href="{{ donation_site_url }}">{{ donation_site_name }}</a></span>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
</footer>

{% block javascript_include %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "@popperjs/core/dist/umd/popper.min.js" %}"></script>
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "datatables.net/js/dataTables.min.js" %}"></script>
    <script src="{% static "datatables.net-bs5/js/dataTables.bootstrap5.min.js" %}"></script>
    <script src="{% static "datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
    <script src="{% static "datatables.net-scroller-bs5/js/scroller.bootstrap5.min.js" %}"></script>
    <script src="{% static "datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js" %}"></script>
    <script src="{% static "jquery.shorten/src/jquery.shorten.min.js" %}"></script>
    <script src="{% static "passwordless/passwordless.v1.1.0.umd.min.js" %}"></script>
    <script src="{% static "slick-carousel/slick/slick.js" %}"></script>
    <script src="{% static "jquery-migrate/dist/jquery-migrate.min.js" %}"></script>
    <script src="{% static "assets/mediaviewer.js" %}"></script>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            csrf_token = '{{ csrf_token }}';
            preparePage($);
            setHomeFormSubmit($);
            prepareAjaxWaiterStatus($, '{{ is_staff }}');
            scrollSetup();
            configureTooltips($);
        });
    </script>
{% endblock %}
</html>
