{% extends "home.html" %}
<!DOCTYPE html>
{% load static %}

{% block jumbotron %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/mediaviewer/">Home</a></li>
            <li class="breadcrumb-item active">Movies</li>
        </ol>
        <h1>{{ title }}</h1>
        <h3>Select from the following movies:</h3>
    </nav>
{% endblock %}

{% block main %}
    <table id="myTable" class="table table-{{ theme }} table-striped table-hover">
        <thead>
            <tr>
                <th class="all">File Name</th>
                <th class="desktop
            {% if view == 'tvshows' %}
                nosort
            {% endif %}
                    ">Timestamp</th>
                {% if can_download %}
                    <th class="min-tablet-p nosort">Link</th>
                {% endif %}
                <th class="all nosort">Viewed</th>
                <th class="min-tablet-l nosort">Report Bad File</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            csrf_token = '{{ csrf_token }}';
            preparePage($);
            {% if view == 'movies' %}
                var sortOrder = [[1,'desc']];
            {% elif view == 'tvshows' or view == 'files' %}
                {% if default_sort == 'filename_sort' %}
                    var sortOrder =  [[0,'desc']];
                {% else %}
                    var sortOrder =  [[1,'desc']];
                {% endif %}
            {% elif view == 'paths' %}
                var sortOrder =  [[1,'asc']];
            {% else %}
                var sortOrder = [[0,'desc']];
            {% endif %}
            prepareDataTable($, sortOrder, '{{ table_data_page }}', '{{ table_data_filter_id }}');

            prepareAjaxWaiterStatus($, '{{ is_staff }}');
            scrollSetup();

            $(".truncated-text").shorten({"showChars": 1000});
        });

    </script>
{% endblock %}
