{% extends "home.html" %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1>Passkey Setup</h1>
        <p></p>
    </div>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                We've e-mailed you a link that can be used temporarily to log in.</p>
                <p>You should be receiving it shortly.</p>
                <p><a href="/mediaviewer/login/">Click here to return to login page.</a></li>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
{% endblock %}
