{% extends 'home.html' %}
<!DOCTYPE html>
{% load staticfiles %}
{% load widget_tweaks %}
{% include css %}

{% include navbar %}

{% block jumbotron %}
<div class="jumbotron">
    <h1>MediaViewer - Reset Password</h1>
    <p></p>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            Please enter an email address to receive password reset instructions. If a valid address is provided, you should receive an email shortly.
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <form method="post">
                {% csrf_token %}
                {% render_field form.email class+="form-control" placeholder="Email" %}
                <button type="submit" class="btn btn-lg btn-primary btn-block login-submit-btn">Submit</button>
            </form>
        </div>
        <div class="col-xs-4"></div>
    </div>
</div>
{% endblock %}

{% include footer %}

{% include javascript %}
