{% extends 'home.html' %}
<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
{% include css %}
{% include navbar %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1>Passkey Setup</h1>
        <p></p>
    </div>
{% endblock %}

{% block main %}
    <div class="container">
        {% if validlink %}
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <div>
                    Click the button below to register a new device with MediaViewer
                    </div>
                </div>
                <div class="col-xs-2"></div>
            </div>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <div>
                        <button class="btn btn-lg btn-primary btn-block login-submit-btn" onclick="register_passkey()">Register Passkey</button>
                    </div>
                </div>
                <div class="col-xs-4"></div>
            </div>
        {% else %}
            <p>This reset link is no longer valid!</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% include javascript_include %}

{% include javascript %}
