{% extends "password_reset_form.html" %}
<!DOCTYPE html>
{% load static %}
{% block main %}
    <div class="container">
        {% if validlink %}
            <form class="form-signin"
                  role="form"
                  method='post'
                  onsubmit="event.preventDefault(); change_password();">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">Set new password</div>
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col">Confirm a new password below</div>
                        </div>
                        <div class="row justify-content-center text-danger" id="error-div"></div>
                        <div class="row justify-content-center">
                            <input type="password"
                                   name="password"
                                   id="password-textbox"
                                   class="col-5"
                                   placeholder="Password">
                        </div>
                        <div class="row justify-content-center">
                            <input type="password"
                                   name="confirm-password"
                                   id="confirm-password-textbox"
                                   class="col-5"
                                   placeholder="Confirm Password">
                        </div>
                        <div class="row justify-content-center">
                            <button class="col-3 btn btn-lg btn-primary btn-block login-submit-btn"
                                    type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <form class="form-signin"
                  role="form"
                  method='post'
                  onsubmit="event.preventDefault(); register_passkey();">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">Set up new passkey</div>
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col">Click the button below to register a new device with MediaViewer</div>
                        </div>
                        <div class="row justify-content-center py-2">
                            <button class="col-3 btn btn-lg btn-primary btn-block login-submit-btn"
                                    type="submit">Register Passkey</button>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="row justify-content-center skip-row">
                <button class="col-2 btn btn-sm btn-outline-secondary btn-block login-submit-btn skip-btn"
                        onclick="bypass_passkey()"
                        data-bs-toggle="popover"
                        data-bs-placement="top"
                        data-bs-title="Skip Creating Passkey"
                        data-bs-content="Choosing to skip will require continued use of email authentication"
                        data-bs-container="body"
                        data-bs-trigger="hover focus">
                    Skip <i class="bi-skip-forward"></i>
                </button>
            </div>
            {% block help_section %}{{ block.super }}{% endblock %}
        {% else %}
            <p>This reset link is no longer valid!</p>
        {% endif %}
    </div>
{% endblock %}
