{% extends "home.html" %}
<!DOCTYPE html>
{% load static %}
{% include title %}

{% include css %}

{% include navbar %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1>Passkey Registered Successfully!</h1>
        <p></p>
        <p>{{ greeting }}</p>
        <p></p>
    </div>
{% endblock %}

{% include messages %}

{% block main %}
    Passkey was registered successfully. Future logins from this device will use the stored passkey!
{% endblock %}

{% include footer %}

{% include javascript %}
