{% extends "signin.html" %}
<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
{% include css %}

{% include navbar %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1 class="display-5 fw-bold">Passkey Setup</h1>
    </div>
{% endblock %}

{% block main %}
    <form class="form-signin" role="form" method='post'>
        {% csrf_token %}
        <div class="row justify-content-center">
            <span class="col-8">
                Please enter an email address to receive a temporary login link. If a valid address is provided, you should receive an email shortly.
            </span>
        </div>

        <div class="row justify-content-center">
            {% render_field form.email class+="col-5" placeholder="Email" %}
        </div>

        <div class="row justify-content-center">
            <button type="submit" class="col-5 btn btn-lg btn-primary btn-block login-submit-btn">Submit</button>
        </div>

        <div class="row justify-content-center">
                <a id="help-link" class="col-5" href="javascript:void(0);" onclick="display_help();">Need help logging in?</a>
        </div>
    </form>
    {% block help_section %}
        {{ block.super }}
    {% endblock %}
{% endblock %}

{% include footer %}

{% include javascript %}
