{% extends "password_reset_form.html" %}
<!DOCTYPE html>
{% load static %}

{% block main %}
    <div class="container text-center">
        {% if validlink %}
            <div class="row justify-content-center">
                <div class="col">
                    Click the button below to register a new device with MediaViewer
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-lg btn-primary btn-block login-submit-btn" onclick="register_passkey()">Register Passkey</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-lg btn-primary btn-block login-submit-btn" onclick="bypass_passkey()">Skip Passkey Creation</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <a id="help-link" href="javascript:void(0);" onclick="display_help();">Need help logging in?</a>
                </div>
            </div>
            {% block help_section %}
                {{ block.super }}
            {% endblock %}
        {% else %}
            <p>This reset link is no longer valid!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
