{% extends "home.html" %}
<!DOCTYPE html>
{% load static %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1>Settings</h1>
    </div>
{% endblock %}

{% block main %}
    <div class="modal" id="missingEmailModal" tabindex="-1" role="dialog" aria-labelledby="missingEmailModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="missingEmailModalLabel">Missing Email Address</h4>
                </div>
                <div class="modal-body">
                    Looks like your email address is missing. You should enter an address on this page before continuing.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>

    <form action="{% url 'mediaviewer:submitsettings' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <h2 class="col">Account Settings</h2>
        </div>
        <ul>
            <label>Default Sort Field:</label>
            <div class="input">
                <ul class="inputs-list">
                    <ul>
                        <label>
                            <input type="radio"  checked name="default_sort" value="timestamp_sort" id="timestamp_sort"/>
                            <span>Timestamp</span>
                        </label>
                    </ul>
                    <ul>
                        <label>
                            <input type="radio" name="default_sort" value="filename_sort" id="filename_sort"/>
                            <span>Filename</span>
                        </label>
                    </ul>
                </ul>
            </div>
        </ul>
        <ul>
            <label>Binge Watch Mode:</label>
            <div class="input">
                <ul class="inputs-list">
                    <ul>
                        <label>
                            <input type="radio" checked name="binge_mode" value=true id="binge_mode_yes"/>
                            <span>Yes</span>
                        </label>
                    </ul>
                    <ul>
                        <label>
                            <input type="radio" name="binge_mode" value=false id="binge_mode_no"/>
                            <span>No</span>
                        </label>
                    </ul>
                </ul>
            </div>
        </ul>
        <ul>
            <label>Jump to Last Viewed:</label>
            <div class="input">
                <ul class="inputs-list">
                    <ul>
                        <label>
                            <input type="radio" checked name="jump_to_last" value=true id="jump_to_last_yes"/>
                            <span>Yes</span>
                        </label>
                    </ul>
                    <ul>
                        <label>
                            <input type="radio" name="jump_to_last" value=false id="jump_to_last_no"/>
                            <span>No</span>
                        </label>
                    </ul>
                </ul>
            </div>
        </ul>
    {% if user.is_staff %}
        <div class="well well-sm">
            <h2>Sitewide Message</h2>
            <label>Message:</label>
            <textarea class="form-control site-message" rows="5" id="sitemessage" class="sitemessage" name="sitemessage"></textarea>
            <div class="input">
                <ul class="inputs-list">
                    <ul>
                        <label>
                            <input type="radio"  checked name="level" value="Info"/>
                            Info
                        </label>
                    </ul>
                    <ul>
                        <label>
                            <input type="radio" name="level" value="Success"/>
                            Success
                        </label>
                    </ul>
                    <ul>
                        <label>
                            <input type="radio" name="level" value="Warning"/>
                            Warning
                        </label>
                    </ul>
                    <ul>
                        <label>
                            <input type="radio" name="level" value="Error"/>
                            Error
                        </label>
                    </ul>
                </ul>
            </div>
        </div>
    {% endif %}
        <ul>
            <div class="sitemessageinput">
                <input type='submit' value='Save Settings &raquo;' id='submit_site_message' name='submit_site_message' class="btn btn-info primary"/>
            </div>
        </ul>
    </form>
    {% if user.is_staff %}
        <form action="{% url 'mediaviewer:submitnewuser' %}" method="post">
            {% csrf_token %}
            <div class="container py-5">
                    <h1>New User</h1>
                    <ul>
                        <label>Email Address:</label>
                        <div class="input">
                            <input class="form-control email-field" type="text" name="new_user_email" placeholder="Email" id="new_user_email_field"/>
                        </div>
                    </ul>
                    <ul>
                        <div class="sitemessageinput">
                            <input type='submit' value='Add User' id='submit_new_user' name='submit_new_user' class="btn btn-info primary"/>
                        </div>
                    </ul>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">

        $(document).ready(function(){
            csrf_token = '{{ csrf_token }}';
            preparePage($);
            setSettingsRadioButtons('{{ ip_format }}', '{{ LOCAL_IP }}', '{{ BANGUP_IP }}');

            {% if default_sort == 'filename_sort' %}
                jQuery('#filename_sort').prop('checked', 'checked');
            {% elif default_sort == 'timestamp_sort' %}
                jQuery('#timestamp_sort').prop('checked', 'checked');
            {% endif %}

            {% if binge_mode == True %}
                jQuery('#binge_mode_yes').prop('checked', 'checked');
            {% else %}
                jQuery('#binge_mode_no').prop('checked', 'checked');
            {% endif %}

            {% if jump_to_last == True %}
                jQuery('#jump_to_last_yes').prop('checked', 'checked');
            {% else %}
                jQuery('#jump_to_last_no').prop('checked', 'checked');
            {% endif %}

            var input = document.getElementById('btn-input');
            jQuery("#local_ip", "#bangup").change(function () {
                if(jQuery("#local_ip").is(":checked")) {
                    input.value = 'local_ip';
                } else if(jQuery("#bangup").is(":checked")) {
                    input.value = 'bangup';
                }
            });

            prepareAjaxWaiterStatus($, '{{ is_staff }}');

            {% if display_missing_email_modal %}
                jQuery('#missingEmailModal').modal('show');
            {% endif %}
            scrollSetup();
        });
    </script>
{% endblock %}
