{% extends "home.html" %}
<!DOCTYPE html>
{% load static %}
{% include title %}

{% include css %}

{% include navbar %}

{% block jumbotron %}
    <div class="jumbotron">
        {% if not loggedin %}
            <h1>View your media!</h1>
            <p></p>
            <p>{{ greeting }}</p>
            <p></p>
        {% else %}
            <h1>Logged In!</h1>
            <h3>You have logged in successfully</h3>
            <a href="/mediaviewer/">Go Home</a>
        {% endif %}
    </div>
{% endblock %}

{% include messages %}

{% block main %}
    {% if not loggedin %}
        {{ error_message }}
    <form class="form-signin" role="form" method='post'>
            {% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" id="username-textbox" class="form-control" placeholder="Email / Username" required style="display:none;">
            <input type="hidden" name="username" value="" id="username" />
            <button class="btn btn-lg btn-primary btn-block" onclick="verify_passkey()">Sign in</button>
            <input type="hidden" name="next" value="{{ next }}" id="next" />
        </form>
    {% endif %}
{% endblock %}

{% include footer %}

{% include javascript %}
