{% extends "home.html" %}
<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
{% include title %}

{% include css %}

{% include navbar %}

    <div class="jumbotron">
        {% block jumbotron %}
            {% if not loggedin %}
                <h1>View your media!</h1>
                <p></p>
                <p>{{ greeting }}</p>
                <p></p>
            {% else %}
                <h1>Logged In!</h1>
                <h3>You have logged in successfully</h3>
                <a href="/mediaviewer/">Go Home</a>
            {% endif %}
        {% endblock %}
    </div>

    {% include messages %}

    {% block main %}
        {% if not loggedin %}
              {{ error_message }}
              <form action="{% url 'mediaviewer:signin' %}" class="form-signin" role="form" method='post'>
                {% csrf_token %}
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="text" id="username-textbox" class="form-control" placeholder="Username" required autofocus>
                <input type="hidden" name="username" value="" id="username" />
                <input type="password" id="password-textbox" class="form-control" placeholder="Password" required>
                <input type="hidden" name="password" value="" id="password" />
                <a href="{% url 'mediaviewer:password_reset' %}">Forgot password?</a>
                <button class="btn btn-lg btn-primary btn-block login-submit-btn" type="submit">Sign in</button>
                <input type="hidden" name="next" value="{{ next }}" id="next" />
              </form>
        {% endif %}
    {% endblock %}

{% include footer %}

{% include javascript %}
