{% extends "filesdetail.html" %}
<!DOCTYPE html>
{% load static %}
{% block jumbotron %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/mediaviewer/">Home</a></li>
                <li class="breadcrumb-item"><a href="/mediaviewer/tvshows/summary/">TV Shows</a></li>
                <li class="breadcrumb-item active"><a href="/mediaviewer/tvshows/{{ file.tv.id }}/">{{ file.tv.name }}</a></li>
        </ol>
    </nav>
{% endblock %}
