{% extends "movies.html" %}
<!DOCTYPE html>
{% load static %}
{% block jumbotron %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/mediaviewer/">Home</a></li>
                <li class="breadcrumb-item active">TV Shows</li>
            </ol>
        </nav>

        <h1 class="display-5 fw-bold">{{ title }}</h1>
        <h3>Select from the following TV Shows:</h3>
{% endblock %}

{% block main %}
    <table id="myTable" class="table table-striped table-hover nowrap" width="100%">
        <thead>
            <tr>
                <th class="text-center">TV Shows</th>
                <th class="text-center">Last Show</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            csrf_token = '{{ csrf_token }}';
            preparePage($);
            prepareDataTable($, [[1,'desc']], '{{ table_data_page }}', '{{ table_data_filter_id }}');
            prepareAjaxWaiterStatus($, '{{ is_staff }}');
            scrollSetup();
        });

    </script>
{% endblock %}
