{% extends "files.html" %}
<!DOCTYPE html>
{% load static %}
{% include title %}

{% include css %}

{% include navbar %}

{% block jumbotron %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/mediaviewer/">Home</a></li>
                <li class="breadcrumb-item active">TV Shows</li>
            </ol>
        </nav>

        <h1 class="display-5 fw-bold">{{ title }}</h1>
        <h3>Select from the following TV Shows:</h3>
{% endblock %}

{% include messages %}

{% block main %}
    <table id="myTable" class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th class="all">TV Shows</th>
                <th class='min-tablet-p'>Last Show</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        </tbody>
    </table>

{% endblock %}

{% include footer %}

{% include javascript_include %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            csrf_token = '{{ csrf_token }}';
            preparePage($);
            prepareDataTable($, [[1,'desc']], '{{ table_data_page }}', '{{ table_data_filter_id }}');
            prepareAjaxWaiterStatus($, '{{ is_staff }}');
            scrollSetup();
        });

    </script>
{% endblock %}
