tbody > tr > td > a, nav > ol > li > a {
    color: #ffffff;
    text-decoration: none;
}
tbody > tr > td > a:hover, nav > ol > li > a:hover {
    text-decoration: underline;
}

.navbar-text a {
    color: #ffffff;
    text-decoration: none;
}
