body{
    padding-bottom: 200px;
    padding-top: 55px;
}
@media (min-width: 980px) {
      body {
              padding-top: 75px;
    }
}

@media (max-width: 768px) {
      body {
              padding-top: 75px;
    }
}

.navbar.navbar-fixed-top.nav-hide {
  top: -56px;
  height: 56px;
  transition: top 0.3s ease-in-out;
}

.navbar.navbar-fixed-top.nav-show {
  top: 0;
  height: 56px;
  transition: top 0.3s ease-in-out;
}

.navbar.navbar-fixed-bottom.nav-hide {
  bottom: -56px;
  height: 56px;
  transition: bottom 0.3s ease-in-out;
}

.navbar.navbar-fixed-bottom.nav-show {
  bottom: 0px;
  height: 56px;
  transition: bottom 0.3s ease-in-out;
}

.navbar.navbar-fixed-bottom.nav-show .navbar-text {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar.navbar-fixed-bottom.nav-show .container-fluid {
    display: block;
}

.tooltip-img {
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
}
.tooltip {
    opacity: 1 !important;
}

.request-textbox{
    margin-left: 5px;
    margin-right: 15px;
    width: 100%;
}

.addrequestbutton{
    margin-left: 10px;
    margin-bottom: 5px;
}

.vote-btn{
    width: 60px;
    height: 30px;
}

.done-btn{
    width: 60px;
    height: 30px;
}

.description-table{
    width: 97%;
    margin: auto;
    margin-top: 10px;
}

.jumbotron{
    padding-bottom: 24px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn.login-submit-btn{
    margin-top: 5px;
    margin-bottom: 10px;
}
#id_email{
    margin-top: 10px;
}
/* tables */
.table{
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
}
#myTable_wrapper {
    margin-bottom: 15px;
}
.hidden_span {
    display: none;
}
.no-sort {
    background-image: none;
}
.table.table-plain > thead > tr > th,
.table.table-plain > tbody > tr > th,
.table.table-plain > tfoot > tr > th,
.table.table-plain > thead > tr > td,
.table.table-plain > tbody > tr > td,
.table.table-plain > tfoot > tr > td{
    background-color: transparent;
}
#file-displayName{
    text-align: center;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.form-control.email-field {
    width: 50%;
}
.password-description-text {
    text-align: center;
    margin-bottom: 50px;
}

.waiter-frame {
    width: 100%;
    height: 100%;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

tbody > tr > td > a, nav > ol > li > a {
    color: #ffffff;
    text-decoration: none;
}
tbody > tr > td > a:hover, nav > ol > li > a:hover {
    text-decoration: underline;
}
.allcontent {
    height: 90%;
}
.dropdown-menu {
    width: 20%;
    overflow-y: scroll;
    max-height: 200px;
    overscroll-behavior: none;
}
