body{
    padding-top: 75px;
    padding-bottom: 100px;
}

#top-navbar.nav-hide {
  top: -100px;
  transition: top 0.3s ease-in-out;
}

#top-navbar.nav-show {
  top: 0;
  transition: top 0.3s ease-in-out;
}

#bottom-navbar.nav-hide {
  bottom: -100px;
  transition: bottom 0.3s ease-in-out;
}

#bottom-navbar.nav-show {
  bottom: 0px;
  transition: bottom 0.3s ease-in-out;
}

#bottom-navbar.nav-show #bottom-navbar.navbar-text {
    padding-top: 0px;
    padding-bottom: 0px;
}

#bottom-navbar > .container-fluid {
    display: block;
}

.tooltip-img {
    width: auto;
    max-height: 450px;
}
.tooltip {
    opacity: 1 !important;
    min-height: 450px;
}
.preview-tooltip {
    max-width: 100% !important;
    overflow: hidden;
}

.addrequestbutton{
    margin-left: 10px;
    margin-bottom: 5px;
}

.jumbotron{
    padding-bottom: 24px;
}

.btn.login-submit-btn{
    margin-top: 5px;
    margin-bottom: 10px;
}

.viewed-checkbox {
    height: 25px;
    width: 25px;
}

#id_email{
    margin-top: 10px;
}
/* tables */
.table{
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
}

div .dt-scroll-body{
    border-bottom-style: none;
}

.large-img {
    max-width: 85%;
}
.hidden_span {
    display: none;
}
.no-sort {
    background-image: none;
}
.table.table-plain > thead > tr > th,
.table.table-plain > tbody > tr > th,
.table.table-plain > tfoot > tr > th,
.table.table-plain > thead > tr > td,
.table.table-plain > tbody > tr > td,
.table.table-plain > tfoot > tr > td{
    background-color: transparent;
}

tbody, td, tfoot, th, thead, tr {
    border-style: hidden;
}

#file-displayName{
    text-align: center;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

tbody > tr > td > a, nav > ol > li > a {
    text-decoration: none;
}
tbody > tr > td > a:hover, nav > ol > li > a:hover {
    text-decoration: underline;
}

.navbar-text a {
    text-decoration: none;
}

.navbar-text a:hover {
    text-decoration: underline;
}

.nav-link.dropdown-item {
    padding-left: 10px;
}

.dropdown-menu {
    overflow-y: scroll;
    max-height: 200px;
    overscroll-behavior: none;
}

@keyframes slide-in {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.slide-in {
    -webkit-animation-name: slide-in;
    animation-name: slide-in;
    animation-duration: 0.4s;
    animation-fill-mode: both;
}

div.alert > a {
    text-decoration: none;
}

div.alert > a:hover {
    text-decoration: underline;
}

li.nav-item > a.btn-outline-primary:hover {
    color: var(--bs-btn-hover-border-color);
    background-color: transparent;
}

[data-bs-theme="dark"] .carousel .carousel-control-prev-icon,
[data-bs-theme="dark"] .carousel .carousel-control-next-icon,
[data-bs-theme="dark"].carousel .carousel-control-prev-icon,
[data-bs-theme="dark"].carousel .carousel-control-next-icon
[data-bs-theme="light"] .carousel .carousel-control-prev-icon,
[data-bs-theme="light"] .carousel .carousel-control-next-icon,
[data-bs-theme="light"].carousel .carousel-control-prev-icon,
[data-bs-theme="light"].carousel .carousel-control-next-icon
{
  filter: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
  border-color: var(--bs-info);
  background-color: var(--bs-info-bg-subtle);
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: var(--bs-info);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: var(--bs-info);
}
